.wrapper {
    position: relative;
    width: 100%;
    max-width: 430px;
}

.input {
    box-sizing: border-box;

    max-width: 430px;
    width: 100%;

    padding: 16px 24px;

    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #575757;

    border: none;
    outline: none;
    background: #F3F3F4;
    border-radius: 16px;
}

.input:focus {
    background: #FFFFFF
}

.slider {
    position: absolute !important;
    width: 90% !important;
    bottom: -14%;
    left: 6%;
}

.title {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #575757;
}

.inputPercent {
    position: absolute;
    top: 52%;
    right: 6%;


    width: 60px;
    height: 50px;

    font-weight: 900;
    font-size: 20px;
    line-height: 120%;

    text-align: center;
    color: #575757;

    border: none;
    outline: none;
    background: #EBEBEC;
    border-radius: 16px;
}

.inputPercent:focus {
    background: #FFFFFF

}
@media (max-width: 1024px) {
    .wrapper, .input{
        max-width: none;
    }
    .wrapper{
        margin-bottom: 32px;
    }
}